#header{
  background-color: #d3360b;
}

#header-text{
  color: white;
  font-size: 44px;
  font-weight: bold;
  line-height: 2.3em;
}

#header-img{
  margin: 30px;
}

#sidebar{
  margin-top:20px;
  margin-left:10px;
}

.coach{
  color: #F09609;
}
