<ul class="nav nav-tabs nav-stacked">
  <li><a href="{{ site.baseurl }}/">Home</a></li>
  <li><a href="{{ site.baseurl }}/step0">Step 0</a></li>
  <li><a href="{{ site.baseurl }}/step1">Step 1</a></li>
  <li><a href="{{ site.baseurl }}/step2">Step 2</a></li>
  <li><a href="{{ site.baseurl }}/step3">Step 3</a></li>
  <li><a href="{{ site.baseurl }}/step4">Step 4</a></li>
  <li><a href="{{ site.baseurl }}/step5">Step 5</a></li>
  <li><a href="{{ site.baseurl }}/step6">Step 6</a></li>
  <li><a href="{{ site.baseurl }}/next-steps">Next steps</a></li>
</ul>